**Anirudh Vasudevan**

                  news classification using NLP

In [16]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [17]:
import nltk

In [18]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [19]:
import pandas as pd

In [21]:
fake = pd.read_csv("/content/Fake-210604-161841 (2).csv")
genuine=pd.read_csv("/content/True-210604-161650 (1).csv")

In [22]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [23]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [24]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [25]:
display(fake.subject.value_counts())
print("\n")
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [26]:
fake["target"] = 0
genuine["target"] = 1

In [27]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [28]:
data = pd.concat([fake, genuine], axis = 0)

In [29]:
data = data.reset_index(drop = True)

In [30]:
data.tail()

,title,text,subject,date,target
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [31]:
data= data.drop(["subject","date", "title"],axis=1 )

In [32]:
from nltk.tokenize import word_tokenize
data["text"]=data["text"].apply(word_tokenize)

In [33]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [34]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english",ignore_stopwords = False)

In [35]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [36]:
data["text"]=data["text"].apply(stem_it)

In [37]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [38]:
data["text"]=data["text"].apply(" ".join)

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train, y_test = train_test_split(data["text"],data["target"],test_size=0.25)
print("\n")
display(y_train.head())

16391    0
18902    0
9530     0
24193    1
24367    1
Name: target, dtype: int64

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)
tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [42]:
print(tfidf_train)

  (0, 21621)	0.18354592273920106
  (0, 91276)	0.11156201392169912
  (0, 74562)	0.2985004521700255
  (0, 7780)	0.08961906011048133
  (0, 40571)	0.2985004521700255
  (0, 88288)	0.08334141851617015
  (0, 21267)	0.09130069458211158
  (0, 91320)	0.1422763608552775
  (0, 90295)	0.1472794474314453
  (0, 40116)	0.10706305927167896
  (0, 82102)	0.05801736521163802
  (0, 50371)	0.08117855502245754
  (0, 19696)	0.13850304331784258
  (0, 12426)	0.06623515880798883
  (0, 21298)	0.06890589171447703
  (0, 39144)	0.06460225746924173
  (0, 17750)	0.06082598519722921
  (0, 13723)	0.049542278956742014
  (0, 38090)	0.040053378773104956
  (0, 81614)	0.07618068137801709
  (0, 61489)	0.053070546891136966
  (0, 68364)	0.10192098394628946
  (0, 11753)	0.09625786502933162
  (0, 60810)	0.051686346669125284
  (0, 51309)	0.069672838196152
  :	:
  (33672, 66090)	0.040415166899381405
  (33672, 50021)	0.03555241007578617
  (33672, 59414)	0.017161619875946606
  (33672, 58107)	0.025346038648222092
  (33672, 88593)	0.08626881180258415
  (33672, 59026)	0.024108322223184857
  (33672, 49708)	0.024838822057123604
  (33672, 76822)	0.026056745855396076
  (33672, 41509)	0.027683143872804024
  (33672, 55808)	0.021962261222690356
  (33672, 78598)	0.04479682754539143
  (33672, 76572)	0.02480867879603121
  (33672, 68896)	0.04327028355113704
  (33672, 53627)	0.03547614213940171
  (33672, 69632)	0.05192529442210786
  (33672, 53536)	0.10108652600924947
  (33672, 61472)	0.027023761810333086
  (33672, 33539)	0.05217783514223639
  (33672, 85956)	0.023371992303263454
  (33672, 11732)	0.03406942120393671
  (33672, 12426)	0.08507469890232892
  (33672, 17750)	0.02604232389172163
  (33672, 32095)	0.040369215505878873
  (33672, 81742)	0.053648540289976315
  (33672, 39237)	0.0188597648580793

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [46]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test , pred_1)
print(cr1*100)

98.88641425389754

In [47]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [52]:
PassiveAggressiveClassifier(C=1.0, average=False, class_weight = None,early_stopping=False, fit_intercept=True, loss="hinge",max_iter=None, n_iter_no_change=5, n_jobs=None, random_state=None, shuffle=True, tol=None, validation_fraction = 0.1 , verbose=0 , warm_start= False)

PassiveAggressiveClassifier(max_iter=None, tol=None)

In [53]:
y_pred = model.predict(tfidf_test)

In [54]:
accscore = accuracy_score(y_test , y_pred)
print("The accuarcy of prediction is ", accscore*100)

The accuarcy of prediction is  99.59910913140313